body {
    background: linear-gradient(#000000,#3b3b3b);
    margin: 0;
    height: 100vh;
}

h1 {
    margin: 0px;
}
    
.header {
    height : 70px;
    width : 100%;
    position: relative;
    overflow: hidden;
    background-color: #585858;
}

.headerImg {
    height : 64px;
    width : 64px;
    margin : 3px 3px;
}

.pageTitle {
    position: absolute;
    width: 80%;
    color: #e6e6e6;  
    top: 5px;
    left: 90px;
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    font-family: monospace;
}

.signin_login {
    width : 50%;
    margin : 20vh 25% 0px;
    align-content: center;
}

.inputField {
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    border-radius: 5px;
    border : none;
    font-size: 30px;
}

.submitButtonLeft {
    margin-left: 1%;
    float : left;
}

.submitButtonRight {
    margin-right: 1%;
    float : right;

}

.submitButton {
    width : 45%;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-size: 30px;   
}

.errMsg {
    position : absolute;
    top : 41vh;
    left : 77%;
    color: white;
    background: black;
    font-size: 13px;
    font-family: monospace;
    visibility: hidden;
}

.card {
    width: 70%;
    height: 40px;
    margin : 10px 15% 0px;
    border-radius: 5px;
    border : none;
    background-color: #bcbbbb;
    font-family: monospace;
}

.cardHeader {
    border-bottom: 1px solid #585858;
    padding: 0px 5%;
    width : 100%;
    height : 30px;
    box-sizing : border-box;
}

.cardTitle {
    width : 30%;
    float : left;
    height : 30px;
    box-sizing : border-box;
}

.addButton {
    border-radius: 5px;
    background-color: #0045ff;
    border: none;
    height: 25px;
    margin: 2px 0px;
    width: 100px;
    float : right;
    box-sizing : border-box;
    color: white;
}

.emptyList {
    height : 200px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}