<html>
    <head>
        <title>CrowdComputing Dashboard</title>
        <link rel="icon" type="image/png" href="crowdComputingIcon.png">
        <link rel="stylesheet" href="index.css">
        <script src="index.js"></script>
    </head>
    <body>
        <div class="header">
            <img class="headerImg" src="crowdComputingSVG.png">
            <p class="pageTitle">CrowdComputing Dashboard</p>
        </div>
        <div class="card">
            <h2>My Groups</h2>
        </div>
        <div class="card">
            <h2>My Clusters</h2>
        </div>
        <div class="card">
            <h2>My Nodes</h2>
        </div>
    </body>
</html>