<div id="myGroups" class="card" data-ng-init="init()">
    <div class="cardHeader">
        <h1 class="cardTitle">My Groups</h1>
        <button class="addButton">Add Group</button>
    </div>
</div>
<div id="myClusters" class="card">
    <div class="cardHeader">
        <h1 class="cardTitle">My Clusters</h1>
        <button class="addButton">Add Cluster</button>
    </div>
</div>
<div id="myNodes" class="card">
    <div class="cardHeader">
        <h1 class="cardTitle">My Nodes</h1>
        <button class="addButton">Add Node</button>
    </div>
</div>

<script src="scripts/home.js"></script>