<div id="signin_loginForm" class="signin_login">
    <input class="inputField" type="email" name="userName" placeholder="Username" required>
    <input class="inputField" type="password" name="thePassword" placeholder="Password" required>
    <button class="submitButton submitButtonLeft" 
            name="sign-up"
            ng-click="signup()">Sign-up</button>
    <button class="submitButton submitButtonRight"
            name="login" 
            ng-click="login()">Log in</button>
</div>
<div id="errMsg" class="errMsg">
    Email address already registered!
</div>