
<div class="modal-header">
    <h3 class="modal-title">Find a Group</h3>
</div>
<div class="modal-body">
    <div class="container-fluid">

        <!-- <img src="http://api.randomuser.me/portraits/thumb/men/55.jpg" class="img-circle"/> -->

        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control inputbox" ng-model="slocation" placeholder="Start Point">
                    <span class="input-group-btn">
                        <button class="btn btn-default inputbutton" type="button"><span class="glyphicon glyphicon-map-marker"></span></button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control inputbox" ng-model="elocation" placeholder="End Point">
                    <span class="input-group-btn">
                        <button class="btn btn-default inputbutton" type="button"><span class="glyphicon glyphicon-bookmark"></span></button>
                    </span>
                </div>
            </div>
        </div>
        
<!--
			<span>
				<h5 text-align="right">Leave at</h5>
			</span>
			<span>
				<timepicker ng-model="mytime" hour-step="1" minute-step="5" show-meridian="ismeridian"></timepicker>
			</span>
-->


    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="searchGroup()">Search</button>
</div>
