<div class="jumbotron" >
    <div class="container">
        <div class="page-header text-center">
            <h1>Welcome to Group'N'Go!</h1>
        </div>
        <p align="center">Help Georgia Tech students to get around campus safely.</p>
        <div class="row">
        	<div class="col-xs-2">&nbsp;</div>
        	<div class="col-xs-8" align="center">
				<a class="btn btn-primary with-ripple" href="#/login">Log In</a>
				<a class="btn btn-info with-ripple" href="#/signup">Sign Up</a>
           	</div>
        	<div class="col-xs-2">&nbsp;</div>
        </div>
    </div>
</div>