<div class="container content">
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">

            <div class="form-group">

                <h2>Login</h2>

                <input type="text" class="form-control floating-label" placeholder="Username" ng-model="loginData.userName" required autofocus>

                <input type="password" class="form-control" placeholder="Password" ng-model="loginData.password" required>

                <button class="btn btn-md btn-primary btn-block" type="submit" ng-click="loginf()">Login</button>

            </div>
            
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>

    </div>



</div>

