<div class="container content">
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">

            <div class="form-group container-fluid">

                <h2>Login</h2>

                <input type="text" class="form-control" placeholder="Username" ng-model="loginData.uname" required autofocus>

                <input type="password" class="form-control" placeholder="Password" ng-model="loginData.pass" required>

                <button class="btn btn-md btn-primary btn-block" type="submit" ng-click="login()">Login</button>
                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>

    </div>



</div>

