<div class="modal-header">
    <h3 class="modal-title">Find a Group</h3>
</div>
<div class="modal-body">
    <div class="container-fluid" ng-controller="View1Ctrl">

        <!-- <img src="http://api.randomuser.me/portraits/thumb/men/55.jpg" class="img-circle"/> -->

        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Start Point">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-map-marker"></span></button>
                    </span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="End Point">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-bookmark"></span></button>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>